## Loops

syntax

for temp in iteratable(1,2,3,4,5):
    print(temp)

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [2]:
for i in range(0,5):
    print("Happy birthday")

Happy birthday
Happy birthday
Happy birthday
Happy birthday
Happy birthday

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.

Sample output

Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [17]:
numb = int(input("Enter number: "))
for i in range(1,numb+1):
    print(i*i)

1
4
9
16
25
36

In [22]:
t_num = int(input("Enter number for table: "))
times = int(input("Hpw many times you want to print table: "))

for i in range(times):
    print(f"{t_num} * {i+1} = {(i+1)*t_num}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

In [36]:
start = int(input("Enter starting point: "))
end = int(input("Enter ending point: "))
time = int(input("How many times you want to print table: "))
for table in range(start,end+1):
    print(table)
    for t in range(time+1):
        print(f"{table} * {t} = {(t)*table}")
    time -=1

2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

## Dictionaries

- key : value

In [37]:
['Qasim', 'Hassan', 18, 21]

['Qasim', 'Hassan', 18, 21]

In [38]:
bio_data = {
    "f_name": "Qasim",
    "l_name": "Hassan",
    "age": 18,
    "weight": 21
}

In [39]:
type(bio_data), id(bio_data)

(dict, 2094693969728)

In [40]:
bio_data['is_present'] = True

In [41]:
bio_data

{'f_name': 'Qasim',
 'l_name': 'Hassan',
 'age': 18,
 'weight': 21,
 'is_present': True}

### Dictionary method "keys"

In [43]:
bio_data.keys()

dict_keys(['f_name', 'l_name', 'age', 'weight', 'is_present'])

### Dictionary method "values"

In [44]:
bio_data.values()

dict_values(['Qasim', 'Hassan', 18, 21, True])

### Dictionary method "items"

In [45]:
bio_data.items()

dict_items([('f_name', 'Qasim'), ('l_name', 'Hassan'), ('age', 18), ('weight', 21), ('is_present', True)])

### Dictionary method "get"

In [49]:
bio_data.get('f_name') , bio_data.get('cnic')

('Qasim', None)

In [50]:
bio_data['age']

18

In [51]:
bio_data['f_name'] = "Umair"

In [79]:
bio_data['age'] = 18
bio_data

{'f_name': 'Umair', 'l_name': 'Hassan', 'weight': 21, 'age': 18}

### Dictionary "pop" method

In [70]:
my_age = bio_data.pop('age')
print(my_age)

18

In [ ]:
print(bio_data.pop('age'))

18

### Dictionary method "popitem"

In [78]:
bio_data.popitem()

('age', 18)

### Dictionary method "setdefault"

In [80]:
bio_data.setdefault("age")

18

In [81]:
bio_data

{'f_name': 'Umair', 'l_name': 'Hassan', 'weight': 21, 'age': 18}

In [ ]:
bio_data.setdefault("city")

In [ ]:
bio_data

{'f_name': 'Umair', 'l_name': 'Hassan', 'weight': 21, 'age': 18, 'city': None}

In [87]:
bio_data['city'] = "karachi"

In [88]:
bio_data

{'f_name': 'Umair',
 'l_name': 'Hassan',
 'weight': 21,
 'age': 18,
 'city': 'karachi'}

In [89]:
bio_data.setdefault("campus","zaiton Ashraf")

'zaiton Ashraf'

In [90]:
bio_data

{'f_name': 'Umair',
 'l_name': 'Hassan',
 'weight': 21,
 'age': 18,
 'city': 'karachi',
 'campus': 'zaiton Ashraf'}

### Dictionary method "update"

In [91]:
bio_data.update({"Faculty":"Qasim Hassan"})

In [92]:
bio_data

{'f_name': 'Umair',
 'l_name': 'Hassan',
 'weight': 21,
 'age': 18,
 'city': 'karachi',
 'campus': 'zaiton Ashraf',
 'Faculty': 'Qasim Hassan'}

## Explanation of dictionary methods

- keys() - return all the keys in dictionary
- values() - return all the values in the dictionary
- items() - return all the items of dictionary with keys and it's values
- get() - return value of given key
- pop() - gives a key and remove it
- popitems() - required no arguments and return a last key value in tuple form
- setdefault() - If key is already in the dictionary → it simply returns the existing value. If key is NOT in the dictionary → it adds that key with the given default_value and returns that value.
- update() - merging the dictionary in the last index.

### Dictionaries: The versatility of keys and values

In [93]:
bio_data = {
    0:'Qasim',
    1:'Hassan',
    2:23
}

In [94]:
bio_data

{0: 'Qasim', 1: 'Hassan', 2: 23}

In [95]:
bio_data['is_present'] = True

In [96]:
bio_data

{0: 'Qasim', 1: 'Hassan', 2: 23, 'is_present': True}

In [97]:
del(bio_data['is_present'])

In [98]:
bio_data

{0: 'Qasim', 1: 'Hassan', 2: 23}

## Looping on dictionaries

In [ ]:
for temp in bio_data: ## by default keys
    print(temp)

f_name
l_name
age
weight

In [114]:
for temp in bio_data.values(): ## only values
    print(temp)

Qasim
Hassan
18
25

In [ ]:
for key, value in bio_data.items(): ## complete key value in separate variables
    print(f"{key} --> {value}")

f_name --> Qasim
l_name --> Hassan
age --> 18
weight --> 25

In [99]:
for key, value in bio_data.items():
    print(f"{key} --> {value} ")

0 --> Qasim
1 --> Hassan
2 --> 23

## List Comprehension

### Without Condition

In [127]:
## normal way of code
lst = []
for temp in range(10):
    lst.append(temp)

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
## List comprehension
[ temp for temp in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### With Condition

In [122]:
## normal way of code
lst = [] 
for temp in range(10):
    if temp % 2 == 0:
        lst.append(temp)
    else:
        lst.append("Odd")
    
lst

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [123]:
## List comprehension
[temp if temp % 2 == 0  else ("odd") for temp in range(10)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

### Dictionary Comprehension

In [129]:
lst1 = ["f_name","l_name","age","city"]
lst2 = ["Waqas","Khan",23,"Karachi"]

In [ ]:
## normal way of code
bio_data ={

} 
for temp in zip(lst1,lst2):
    bio_data[temp[0]] = temp[1]
bio_data

{'f_name': 'Waqas', 'l_name': 'Khan', 'age': 23, 'city': 'Karachi'}

In [132]:
## Dictionary comprehension
{temp[0]:temp[1] for temp in zip(lst1,lst2)}

{'f_name': 'Waqas', 'l_name': 'Khan', 'age': 23, 'city': 'Karachi'}

In [137]:
dic = {
    
}
for i in range(0,9,2):
    dic[i] = i ** 2
dic

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [138]:
{i:i**2 for i in range(0,9,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [102]:
lst1 = ['f_name','l_name','age','weight']
lst2 = ["Qasim","Hassan",18,25]

In [108]:
bio_data ={

}
for temp in zip(lst1,lst2):
    print(temp)
    bio_data[temp[0]] = temp[1]

('f_name', 'Qasim')
('l_name', 'Hassan')
('age', 18)
('weight', 25)

In [109]:
bio_data

{'f_name': 'Qasim', 'l_name': 'Hassan', 'age': 18, 'weight': 25}

In [110]:
bio_data = {temp[0]:temp[1] for temp in zip(lst1,lst2)}

In [111]:
bio_data

{'f_name': 'Qasim', 'l_name': 'Hassan', 'age': 18, 'weight': 25}