In [2]:
import pandas as pd

In [3]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0)

In [4]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98