### List

In [1]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

In [2]:
id(city_0), id(city_1)

(2940249066736, 2940249036400)

- managing collection of values
- Slower
- Solution: Data Structure for collection of values: List

In [3]:
cities = ["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]

In [4]:
print(type(cities), id(cities))

<class 'list'> 2364484366784

In [5]:
cities.append("Karachi") # append men koi bhi argument pass krenge to woh list men add h jaiga

In [6]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi']

In [7]:
cities.count("Atlanta")  # count btata he k ye word kitni dafa he list men

1

In [ ]:
cities.extend(["Islamabad","Lahore","Quetta"]) # adding a mini list in the existing list

In [9]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Islamabad',
 'Lahore',
 'Quetta']

In [10]:
cities.insert(1,"Peshawar") # inserting a single value with respect to particular index

In [11]:
cities

['Atlanta',
 'Peshawar',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Islamabad',
 'Lahore',
 'Quetta']

In [15]:
cities.index("Karachi")

7

In [ ]:
cities.pop() # Remove and return item at index (default last).

In [17]:
cities.append("Peshawar")

In [18]:
cities

['Atlanta',
 'Peshawar',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Islamabad',
 'Lahore',
 'Quetta',
 'Peshawar']

In [21]:
cities.remove("Peshawar") # Remove first occurrence of value.

In [ ]:
cities.reverse()

In [23]:
cities.clear()

In [24]:
cities

[]

In [25]:
cities.copy()

[]

### Shallow Copy

In [27]:
cities = [
'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi']

In [28]:
cities_new = cities.copy() # Return a shallow copy of the list

In [29]:
print(type(cities_new),id(cities_new))

<class 'list'> 2364484261760

In [30]:
print(type(cities),id(cities))

<class 'list'> 2364484395072

- Keep values at different address as shown above
- Changing values in one collection doesn't effect other

`### Deep Copy

In [32]:
cities_new = cities

In [33]:
cities_new, cities

(['Atlanta',
  'Baltimore',
  'Chicago',
  'Denver',
  'Los Angeles',
  'Seattle',
  'Karachi'],
 ['Atlanta',
  'Baltimore',
  'Chicago',
  'Denver',
  'Los Angeles',
  'Seattle',
  'Karachi'])

cities_new.append("Dubai")

In [35]:
cities_new, cities

(['Atlanta',
  'Baltimore',
  'Chicago',
  'Denver',
  'Los Angeles',
  'Seattle',
  'Karachi',
  'Dubai'],
 ['Atlanta',
  'Baltimore',
  'Chicago',
  'Denver',
  'Los Angeles',
  'Seattle',
  'Karachi',
  'Dubai'])

### Adding word in a list without using method

### Slicing

In [ ]:
cities[::-1] # reverse the list

['Dubai',
 'Karachi',
 'Seattle',
 'Los Angeles',
 'Denver',
 'Chicago',
 'Baltimore',
 'Atlanta']

### TASK: create a student list of names and apply all methods that we learn today

In [38]:
Students = [
    "Waqas",
    "Sameer",
    "Aayan",
    "Harees",
    "Rafay"
]

In [40]:
print(type(Students),id(Students))

<class 'list'> 2364485712640

In [46]:
Students.append("Sameer")

In [47]:
Students

['Waqas', 'Sameer', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']

In [48]:
Students.count("Sameer")

2

In [51]:
Students.extend(["Ahmed","Hamza"])

In [52]:
Students

['Waqas',
 'Sameer',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'A',
 'h',
 'm',
 'e',
 'd',
 'Ahmed',
 'Hamza']

In [53]:
Students.index("Ahmed")

12

In [56]:
Students.insert(2,"Shoaib")

In [57]:
Students

['Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'A',
 'h',
 'm',
 'e',
 'd',
 'Ahmed',
 'Hamza']

In [59]:
Students.pop(8)

'A'

In [60]:
Students

['Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'h',
 'm',
 'e',
 'd',
 'Ahmed',
 'Hamza']

In [61]:
Students.pop(9)

'm'

In [62]:
Students.pop(10)

'd'

In [63]:
Students.pop(11)

'Hamza'

In [66]:
Students.pop(8)

'h'

In [68]:
Students.pop(9)

'Ahmed'

In [69]:
Students

['Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'e']

In [70]:
Students.pop(8)

'e'

In [71]:
Students.remove("Sameer")

In [72]:
Students

['Waqas', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']

In [73]:
Students.reverse()

In [75]:
Students.sort()

In [76]:
Students

['Aayan', 'Harees', 'Moiz', 'Rafay', 'Sameer', 'Shoaib', 'Waqas']

In [78]:
Students.clear()

In [79]:
Students = [
 'Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
]

### Shalow Copy

In [18]:
import copy

Students = [
 'Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
]

Students_new = copy.copy(Students)

Students[1] = "Sameer Khan"

print(Students)
print(Students_new)

['Waqas', 'Sameer Khan', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']
['Waqas', 'Sameer', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']

In [9]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.copy(Students) # ismen simple old list ki entries new list men add ho rhi hen

print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]

In [ ]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.copy(Students)

Students.append(["Ahmed","ALi"]) #agar hum directly nested list add krenge to woh sirf jahan add ki he usi list men show hogi dosri list men add nhi hogi

print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza'], ['Ahmed', 'ALi']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]

In [ ]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.copy(Students)

Students[1][1] = "Harees Ali" # agar hum nested list men koi changes krte hen to woh dono list men reflect hongi

print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees Ali'], ['Rafay', 'Hamza']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees Ali'], ['Rafay', 'Hamza']]

### Deep Copy

In [15]:
import copy

Students = [
 'Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
]

Students_new = copy.deepcopy(Students)

Students[1] = "Sameer Khan"

print(Students)
print(Students_new)

['Waqas', 'Sameer Khan', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']
['Waqas', 'Sameer', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer']

In [ ]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.deepcopy(Students) # ismen simple old list ki entries new list men add ho rhi hen


print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]

In [7]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.deepcopy(Students)

Students.append(["Ahmed","ALi"]) #agar hum directly nested list add krenge to woh sirf jahan add ki he usi list men show hogi dosri list men add nhi hogi

print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza'], ['Ahmed', 'ALi']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]

In [ ]:
import copy

Students = [
    ["Waqas","Sameer",],
    ["Aayan","Harees"],
    ["Rafay","Hamza"]
]

Students_new = copy.deepcopy(Students)

Students[2][0] = "Abdul Rafay" # agar hum nested list men koi changes krte hen to woh sirf jis list men add kiya he wahin hogi

print(Students)
print(Students_new)

[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Abdul Rafay', 'Hamza']]
[['Waqas', 'Sameer'], ['Aayan', 'Harees'], ['Rafay', 'Hamza']]

### Shallow and Deep End

Links From where I learn shallow and deep copy 

- https://www.programiz.com/python-programming/shallow-deep-copy
- https://chatgpt.com/c/6897de79-2f40-8333-bbeb-a96423d3a2f5

In [83]:
print(type(Students_new),id(Students_new))

<class 'list'> 2364486519296

In [85]:
print(type(Students),id(Students))

<class 'list'> 2364475674368

In [86]:
Students_new = Students

In [87]:
Students_new, Students

(['Waqas', 'Sameer', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer'],
 ['Waqas', 'Sameer', 'Shoaib', 'Aayan', 'Harees', 'Rafay', 'Moiz', 'Sameer'])

In [88]:
Students.append("Ali")

In [89]:
Students, Students_new

(['Waqas',
  'Sameer',
  'Shoaib',
  'Aayan',
  'Harees',
  'Rafay',
  'Moiz',
  'Sameer',
  'Ali'],
 ['Waqas',
  'Sameer',
  'Shoaib',
  'Aayan',
  'Harees',
  'Rafay',
  'Moiz',
  'Sameer',
  'Ali'])

#### Delete element using hard delete means we add element without using method it's also called overwrite

In [90]:
Students[8] = "Hamza"

In [91]:
Students

['Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'Hamza']

#### End of task

In [92]:
bio_data = ["Waqas",23,80.4,True]

In [93]:
bio_data

['Waqas', 23, 80.4, True]

In [94]:
len(bio_data)

4

### Tuples - Immutable

In [98]:
bio_data.append('Waqas')

In [99]:
bio_data

['Waqas', 23, 80.4, True, 'Waqas', 'Waqas', 'Waqas', 'Waqas']

In [101]:
bio_data_t = tuple(bio_data)

In [ ]:
bio_data_t[4] = '031245678' # tuple men data change nhi hota

TypeError: 'tuple' object does not support item assignment

In [103]:
bio_data_t.count("Waqas")

5

In [105]:
bio_data_t.index("Waqas")

0

### SET

In [106]:
name_list = ["Waqas","Waqas","Muhammad Waqas"]

In [107]:
name_set = set(name_list)

In [108]:
name_set

{'Muhammad Waqas', 'Waqas'}

In [109]:
set_a = {'a','b'}
set_b = {'c','d'}
universal_set = {'a','b','c','d'}

In [110]:
universal_set.intersection(set_a)

{'a', 'b'}

In [114]:
universal_set.update([2])

In [115]:
universal_set

{2, 'a', 'b', 'c', 'd', 'e'}

In [116]:
universal_set.difference(set_a)

{2, 'c', 'd', 'e'}

In [120]:
universal_set.difference_update([2])

In [121]:
universal_set

{'a', 'b', 'c', 'd', 'e'}

### Task

- Create a student tuple of names and apply all methods that we learn today
- Create a student set of names and apply all method that we learn today

In [122]:
Students

['Waqas',
 'Sameer',
 'Shoaib',
 'Aayan',
 'Harees',
 'Rafay',
 'Moiz',
 'Sameer',
 'Hamza']

In [123]:
Students_new = tuple(Students)

In [124]:
Students_new.index("Sameer")

1

In [125]:
Students_new.count("Moiz")

1

In [126]:
set_a = {'a','b'}
set_b = {'c','d'}
universal_set = {'a','b','c','d','e','f','g'}

In [127]:
universal_set.add('h')

In [128]:
universal_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}