## STRING & IT'S METHODS

#                                                REMEMBER:
###             All the functions we apply on a string, It does not change the original string it returns a new                                       string with the changes we did
###                                        Beacause strings are Immutable

### 1. String fucntion len()

- This function returns the len of string

In [3]:
name = "Hafiz Waqas"
print(len(name))

11

### 2. String function endswith()

- string.endswith("qas") - This function_tells whether the variable string ends with the string "qas" or not.If string is "waqas", it returns true for "rry" since waqas ends with qas.

In [10]:
name = "waqas"
name.endswith("qas")

True

### 3. String function startswith()

- string.startswith("wa") - This function_tells whether the variable string starts with the string "wa" or not.If string is "waqas", it returns true for "wa" since waqas starts with wa.

In [14]:
name = "waqas"
name.startswith("wa")

True

### 4. String function count()

- string.count("a") - counts the total number of occurance of any character.

In [15]:
name = "waqas"
name.count("a")

2

### 5. String function capatalize()

- Transform the first word of string into capital letter.

In [16]:
name = "waqas"
name.capitalize()

'Waqas'

### 6. String function upper()

- Changes the whole string into upper case.

In [18]:
name = "waqas"
name.upper()

'WAQAS'

### 7. String function lower()

- Changes the whole string into lower case.

In [42]:
name = "WAQAS"
name.lower()

'waqas'

### 8. String function casefold()

- Remaining (see later)

In [43]:
name = "Waqas"
name.casefold()

'waqas'

### 9. String function center()

- Remaining (see later)

In [59]:
name = "waqas owais"
name.center(1, "o")

'waqas owais'

### 10. String function find()

- returns the first occurance index of given value in a string.
- If the given value is not in the string it simply return -1.

In [70]:
name = "waqas  owais"
print(name.find(("  ")))
print(name.find(("o")))

5
7

### 11. String function replace()

- It replaces the value we set against the given value.

In [2]:
name = "waqas  owais"
print(name.replace("  ", " ")) ## Here we replace the double space into single space.

waqas owais

### 12. String function swapcase()

- Swap case (upper ---> lower, lower ---> upper)

In [5]:
name = "wAQas"
print(name.swapcase())

WaqAS

### 13. String function isalpha()

- isalpha() returns True if all letters otherwise it returns false.

In [6]:
name = "Waqas"
print(name.isalpha())

True

### 14. String function isdigit()

- isdigit() returns True if all are digit otherwise it returns false.

In [7]:
name = "12345"
print(name.isdigit())

True

### 15. String function isalnum()

- isalnum() returns True if string has leeter+digit otherwise it returns false.

In [8]:
name = "waqas12"
print(name.isalnum())

True

### 16. String function isspace()

- isspace() returns True if there only space in an string otherwise returns false().

In [11]:
name = " "
print(name.isspace())

True

### 17. String function find(substring) 

- Finds the index of first occurrence (returns -1 if not found).

In [12]:
name = "My name is Waqas"
print(name.find("Waqas"))

11

### 18. String function join(iterable)

- Joins list elements into a single string.

In [13]:
lst = ["Python","is","like","a","game"]
print("".join(lst))

Pythonislikeagame

### 19. String function split()

- Splits string into a list based on separator.

In [15]:
strr = "Python is like a game"
print(strr.split(" "))

['Python', 'is', 'like', 'a', 'game']

### 20. String function strip()

- Splits string into a list based on separator.

In [18]:
name = "   waqas   "
print(name)
print(name.strip())

   waqas
waqas

### 21. String function title()

- Capitalizes the first letter of each word.

In [19]:
name = "my name is waqas"
print(name.title())

My Name Is Waqas