## STRING & IT'S METHODS

#                                                REMEMBER:
###             All the functions we apply on a string, It does not change the original string it returns a new                                       string with the changes we did
###                                        Beacause strings are Immutable

### 1. String fucntion len()

- This function returns the len of string

In [3]:
name = "Hafiz Waqas"
print(len(name))

11

### 2. String function endswith()

- string.endswith("qas") - This function_tells whether the variable string ends with the string "qas" or not.If string is "waqas", it returns true for "rry" since waqas ends with qas.

In [10]:
name = "waqas"
name.endswith("qas")

True

### 3. String function startswith()

- string.startswith("wa") - This function_tells whether the variable string starts with the string "wa" or not.If string is "waqas", it returns true for "wa" since waqas starts with wa.

In [14]:
name = "waqas"
name.startswith("wa")

True

### 4. String function count()

- string.count("a") - counts the total number of occurance of any character.

In [15]:
name = "waqas"
name.count("a")

2

### 5. String function capatalize()

- Transform the first word of string into capital letter.

In [16]:
name = "waqas"
name.capitalize()

'Waqas'

### 6. String function upper()

- Changes the whole string into upper case.

In [18]:
name = "waqas"
name.upper()

'WAQAS'

### 7. String function lower()

- Changes the whole string into lower case.

In [42]:
name = "WAQAS"
name.lower()

'waqas'

### 8. String function casefold()

- Remaining (see later)

In [43]:
name = "Waqas"
name.casefold()

'waqas'

### 9. String function center()

- Remaining (see later)

In [59]:
name = "waqas owais"
name.center(1, "o")

'waqas owais'

### 10. String() function find()

- returns the first occurance index of given value in a string.
- If the given value is not in the string it simply return -1.

In [70]:
name = "waqas  owais"
print(name.find(("  ")))
print(name.find(("o")))

5
7

### 11. String function replace()

- It replaces the value we set against the given value.

In [72]:
name = "waqas  owais"
print(name.replace("  ", " ")) ## Here we replace the double space into single space.

waqas owais