In [1]:
import pyodbc
import pandas as pd

In [ ]:
# 1. Clean Data Load karein
csv_file = "./electronics_data.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")

# 2. SQL Server Connection Details
server_name = 'DESKTOP-H96K80L' 
database_name = 'Banggood'

# Connection String (Windows Authentication)
conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    # Connection banana
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    # 3. Table Schema Create karna (DDL)
    # FIX: Ab hum 'Electronics' table ko check karke drop karenge
    cursor.execute("""
        IF OBJECT_ID('Electronics', 'U') IS NOT NULL
            DROP TABLE Electronics;

        CREATE TABLE Electronics (
            Product_ID INT IDENTITY(1,1) PRIMARY KEY,
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()
    print("Table 'Electronics' Created Successfully.")

    # 4. Data Insert karna (Bulk Loop)
    print(f"Inserting {len(df)} rows... Please wait.")
    
    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO Electronics (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
        row['Name'], 
        row['Price'], 
        row['Reviews'], 
        row['URL'], 
        row['Price_Segment'], 
        row['Est_Revenue']
        )
    
    conn.commit()
    print("Data Dump Complete!")

    # 5. Validation (Count Check) [Requirement Part 4.3]
    cursor.execute("SELECT COUNT(*) FROM Electronics")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'Electronics': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 147 rows from ./electronics_data.csv
Successfully Connected to SQL Server!
Table 'Electronics' Created Successfully.
Inserting 147 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'Electronics': 147

In [13]:
import pyodbc
import pandas as pd

# 1. Clean Data Load karein
csv_file = "./banggood_sports_&_outdoor_data.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")

# 2. SQL Server Connection Details
server_name = 'DESKTOP-H96K80L' 
database_name = 'Banggood'

# Connection String (Windows Authentication)
conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    # Connection banana
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    # 3. Table Schema Create karna (DDL)
    # FIX: Ab hum 'Sports_Outdoor' table ko check karke drop karenge
    cursor.execute("""
        IF OBJECT_ID('Sports_Outdoor', 'U') IS NOT NULL
            DROP TABLE Sports_Outdoor;

        CREATE TABLE Sports_Outdoor (
            Product_ID INT IDENTITY(1,1) PRIMARY KEY,
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()
    print("Table 'Sports_Outdoor' Created Successfully.")

    # 4. Data Insert karna (Bulk Loop)
    print(f"Inserting {len(df)} rows... Please wait.")
    
    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO Sports_Outdoor (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
        row['Name'], 
        row['Price'], 
        row['Reviews'], 
        row['URL'], 
        row['Price_Segment'], 
        row['Est_Revenue']
        )
    
    conn.commit()
    print("Data Dump Complete!")

    # 5. Validation (Count Check) [Requirement Part 4.3]
    cursor.execute("SELECT COUNT(*) FROM Sports_Outdoor")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'Sports_Outdoor': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 88 rows from ./banggood_sports_&_outdoor_data.csv
Successfully Connected to SQL Server!
Table 'Sports_Outdoor' Created Successfully.
Inserting 88 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'Sports_Outdoor': 88

In [14]:
import pyodbc
import pandas as pd

# 1. Clean Data Load karein
csv_file = "./banggood_automobiles_&_motorcycles_data.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")

# 2. SQL Server Connection Details
server_name = 'DESKTOP-H96K80L' 
database_name = 'Banggood'

# Connection String (Windows Authentication)
conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    # Connection banana
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    # 3. Table Schema Create karna (DDL)
    # FIX: Ab hum 'automobiles_motorcycles' table ko check karke drop karenge
    cursor.execute("""
        IF OBJECT_ID('automobiles_motorcycles', 'U') IS NOT NULL
            DROP TABLE automobiles_motorcycles;

        CREATE TABLE automobiles_motorcycles (
            Product_ID INT IDENTITY(1,1) PRIMARY KEY,
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()
    print("Table 'automobiles_motorcycles' Created Successfully.")

    # 4. Data Insert karna (Bulk Loop)
    print(f"Inserting {len(df)} rows... Please wait.")
    
    for index, row in df.iterrows():
        # FIX: Insert query mein sahi table name use kiya
        cursor.execute("""
            INSERT INTO automobiles_motorcycles (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
        row['Name'], 
        row['Price'], 
        row['Reviews'], 
        row['URL'], 
        row['Price_Segment'], 
        row['Est_Revenue']
        )
    
    conn.commit()
    print("Data Dump Complete!")

    # 5. Validation (Count Check) [Requirement Part 4.3]
    cursor.execute("SELECT COUNT(*) FROM automobiles_motorcycles")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'automobiles_motorcycles': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 62 rows from ./banggood_automobiles_&_motorcycles_data.csv
Successfully Connected to SQL Server!
Table 'automobiles_motorcycles' Created Successfully.
Inserting 62 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'automobiles_motorcycles': 62

In [15]:
# 1. Clean Data Load karein
csv_file = "./banggood_computer_videos_games_data.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")

# 2. SQL Server Connection Details
server_name = 'DESKTOP-H96K80L' 
database_name = 'Banggood'

# Connection String (Windows Authentication)
conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    # Connection banana
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    # 3. Table Schema Create karna (DDL)
    # FIX: Ab hum 'computer_videos_games' table ko check karke drop karenge
    cursor.execute("""
        IF OBJECT_ID('computer_videos_games', 'U') IS NOT NULL
            DROP TABLE computer_videos_games;

        CREATE TABLE computer_videos_games (
            Product_ID INT IDENTITY(1,1) PRIMARY KEY,
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()
    print("Table 'computer_videos_games' Created Successfully.")

    # 4. Data Insert karna (Bulk Loop)
    print(f"Inserting {len(df)} rows... Please wait.")
    
    for index, row in df.iterrows():
        # FIX: Insert query mein sahi table name use kiya
        cursor.execute("""
            INSERT INTO computer_videos_games (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
        row['Name'], 
        row['Price'], 
        row['Reviews'], 
        row['URL'], 
        row['Price_Segment'], 
        row['Est_Revenue']
        )
    
    conn.commit()
    print("Data Dump Complete!")

    # 5. Validation (Count Check) [Requirement Part 4.3]
    cursor.execute("SELECT COUNT(*) FROM computer_videos_games")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'computer_videos_games': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 62 rows from ./banggood_computer_videos_games_data.csv
Successfully Connected to SQL Server!
Table 'computer_videos_games' Created Successfully.
Inserting 62 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'computer_videos_games': 62

In [16]:
# 1. Clean Data Load karein
csv_file = "./banggood_men_women_clothing_data.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")

# 2. SQL Server Connection Details
server_name = 'DESKTOP-H96K80L' 
database_name = 'Banggood'

# Connection String (Windows Authentication)
conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    # Connection banana
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    # 3. Table Schema Create karna (DDL)
    # FIX: Ab hum 'men_women_clothing' table ko check karke drop karenge
    cursor.execute("""
        IF OBJECT_ID('men_women_clothing', 'U') IS NOT NULL
            DROP TABLE men_women_clothing;

        CREATE TABLE men_women_clothing (
            Product_ID INT IDENTITY(1,1) PRIMARY KEY,
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()
    print("Table 'men_women_clothing' Created Successfully.")

    # 4. Data Insert karna (Bulk Loop)
    print(f"Inserting {len(df)} rows... Please wait.")
    
    for index, row in df.iterrows():
        # FIX: Insert query mein sahi table name 'men_women_clothing' use kiya
        cursor.execute("""
            INSERT INTO men_women_clothing (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
        row['Name'], 
        row['Price'], 
        row['Reviews'], 
        row['URL'], 
        row['Price_Segment'], 
        row['Est_Revenue']
        )
    
    conn.commit()
    print("Data Dump Complete!")

    # 5. Validation (Count Check) [Requirement Part 4.3]
    cursor.execute("SELECT COUNT(*) FROM men_women_clothing")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'men_women_clothing': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 43 rows from ./banggood_men_women_clothing_data.csv
Successfully Connected to SQL Server!
Table 'men_women_clothing' Created Successfully.
Inserting 43 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'men_women_clothing': 43