In [2]:
#import libraries
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.8.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: black>=24.10.0 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (24.10.0)
Requirement already satisfied: bleach in c:\users\user\anaconda3\lib\site-packages (from kaggle) (6.2.0)
Collecting kagglesdk (from kaggle)
  Downloading kagglesdk-0.1.13-py3-none-any.whl.metadata (13 kB)
Collecting mypy>=1.15.0 (from kaggle)
  Downloading mypy-1.19.1-cp313-cp313-win_amd64.whl.metadata (2.3 kB)
Requirement already satisfied: protobuf in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (72.1.0)
Requirement already satisfied: six>=1.10 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Collecting types-requests (from kaggle)
  Downloading types_requests-2.32.4.20250913-py3-none-any.whl.metadata (2.0 kB)
Collecting types-tqdm (from kaggle)
  Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: click>=8.0.0 in c:\users\user\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (8.1.8)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\user\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: packaging>=22.0 in c:\users\user\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (24.2)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.10.3)
Requirement already satisfied: platformdirs>=2 in c:\users\user\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (4.3.7)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Collecting librt>=0.6.2 (from mypy>=1.15.0->kaggle)
  Downloading librt-0.7.4-cp313-cp313-win_amd64.whl.metadata (1.4 kB)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (2025.10.5)
Downloading kaggle-1.8.2-py3-none-any.whl (256 kB)
Downloading mypy-1.19.1-cp313-cp313-win_amd64.whl (10.1 MB)
   ---------------------------------------- 0.0/10.1 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/10.1 MB 5.7 MB/s eta 0:00:02
   ------------- -------------------------- 3.4/10.1 MB 8.1 MB/s eta 0:00:01
   ---------------------- ----------------- 5.8/10.1 MB 9.0 MB/s eta 0:00:01
   -------------------------------- ------- 8.1/10.1 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 10.1/10.1 MB 9.5 MB/s eta 0:00:00
Downloading librt-0.7.4-cp313-cp313-win_amd64.whl (49 kB)
Downloading kagglesdk-0.1.13-py3-none-any.whl (159 kB)
Downloading types_requests-2.32.4.20250913-py3-none-any.whl (20 kB)
Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl (24 kB)
Installing collected packages: types-requests, librt, types-tqdm, mypy, kagglesdk, kaggle

  Attempting uninstall: mypy

    Found existing installation: mypy 1.14.1

   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
    Uninstalling mypy-1.14.1:
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
      Successfully uninstalled mypy-1.14.1
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------- ------------------- 3/6 [mypy]
   -------------------------- ------------- 4/6 [kagglesdk]
   -------------------------- ------------- 4/6 [kagglesdk]
   -------------------------- ------------- 4/6 [kagglesdk]
   -------------------------- ------------- 4/6 [kagglesdk]
   --------------------------------- ------ 5/6 [kaggle]
   --------------------------------- ------ 5/6 [kaggle]
   --------------------------------- ------ 5/6 [kaggle]
   --------------------------------- ------ 5/6 [kaggle]
   --------------------------------- ------ 5/6 [kaggle]
   ---------------------------------------- 6/6 [kaggle]

Successfully installed kaggle-1.8.2 kagglesdk-0.1.13 librt-0.7.4 mypy-1.19.1 types-requests-2.32.4.20250913 types-tqdm-4.67.0.20250809

In [6]:
import os

In [7]:
os.environ['KAGGLE_API_TOKEN'] = 'KGAT_3c623f7b2c5c3c42bdb27557b1037ab3'

In [8]:
!kaggle competitions list

ref                                                                              deadline             category          reward  teamCount  userHasEntered
-------------------------------------------------------------------------------  -------------------  ---------  -------------  ---------  --------------
https://www.kaggle.com/competitions/ai-mathematical-olympiad-progress-prize-3    2026-04-15 23:59:00  Featured   2,207,152 Usd        883           False
https://www.kaggle.com/competitions/passenger-screening-algorithm-challenge      2017-12-15 23:59:00  Featured   1,500,000 Usd        518           False
https://www.kaggle.com/competitions/zillow-prize-1                               2018-01-10 15:59:00  Featured   1,200,000 Usd       3770           False
https://www.kaggle.com/competitions/data-science-bowl-2017                       2017-04-12 23:59:00  Featured   1,000,000 Usd       1972           False
https://www.kaggle.com/competitions/vesuvius-challenge-ink-detection             2023-06-14 23:59:00  Featured   1,000,000 Usd       1249           False
https://www.kaggle.com/competitions/gemini-3                                     2025-12-12 23:59:00  Featured     500,000 Usd       4102           False
https://www.kaggle.com/competitions/openai-gpt-oss-20b-red-teaming               2025-08-26 23:59:00  Featured     500,000 Usd        606           False
https://www.kaggle.com/competitions/openai-to-z-challenge                        2025-06-29 23:59:00  Featured     500,000 Usd        226           False
https://www.kaggle.com/competitions/llm-prompt-recovery                          2024-04-16 23:59:00  Featured     200,000 Usd       2175           False
https://www.kaggle.com/competitions/asl-fingerspelling                           2023-08-24 23:59:00  Research     200,000 Usd       1314           False
https://www.kaggle.com/competitions/vesuvius-challenge-surface-detection         2026-02-13 23:59:00  Research     200,000 Usd        411           False
https://www.kaggle.com/competitions/second-annual-data-science-bowl              2016-03-14 23:59:00  Featured     200,000 Usd        192           False
https://www.kaggle.com/competitions/datasciencebowl                              2015-03-16 23:59:00  Featured     175,000 Usd       1049           False
https://www.kaggle.com/competitions/data-science-bowl-2019                       2020-01-22 23:59:00  Featured     160,000 Usd       3493           False
https://www.kaggle.com/competitions/feedback-prize-2021                          2022-03-15 23:59:00  Featured     160,000 Usd       2058           False
https://www.kaggle.com/competitions/the-nature-conservancy-fisheries-monitoring  2017-04-12 23:59:00  Featured     150,000 Usd       2293           False
https://www.kaggle.com/competitions/tensorflow-great-barrier-reef                2022-02-14 23:59:00  Research     150,000 Usd       2025           False
https://www.kaggle.com/competitions/AI4Code                                      2022-11-10 23:59:00  Featured     150,000 Usd       1135           False
https://www.kaggle.com/competitions/google-gemma-3n-hackathon                    2025-08-06 23:59:00  Featured     150,000 Usd        606           False
https://www.kaggle.com/competitions/gemma-language-tuning                        2025-01-15 00:59:00  Analytics    150,000 Usd          0           False

In [9]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to c:\Users\USER\SMIT\CDE\cde-b3-smit\python-project\end-toend-data-analytic-project

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 299kB/s]
100%|██████████| 200k/200k [00:00<00:00, 298kB/s]

In [10]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [11]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [12]:
#rename columns names ..make them lower case and replace space with underscore
df.rename(columns={'Order Id':'order_id', 'City':'city'})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [13]:
#derive new columns discount , sale price and profit
df['discount'] = df['list_price'] * df['discount_percent'] * 0.1
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,52.0,208.0,-32.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,219.0,511.0,-89.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,5.0,5.0,-5.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,192.0,768.0,-12.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,10.0,10.0,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,12.0,18.0,-12.0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,36.0,54.0,-16.0
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,52.0,208.0,-12.0
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,9.0,21.0,-9.0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,72.0,168.0,-42.0

In [14]:
#convert order date from object data type to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format='%Y-%m-%d')

In [15]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)

In [16]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-H96K80L/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [17]:
#load the data into sql server using append option
df.to_sql('df_orders',con=conn, index=False, if_exists='append')

38