## LIST & It's Methods

### 1. List method append()

- It will add the value at the end of the list.
- append added only single value in the list.

In [9]:
city = ["Karachi","Lahore","Multan","Islamabad"]
city.append("Quetta") 
city

['Karachi', 'Lahore', 'Multan', 'Islamabad', 'Quetta']

### 2. List method count()
- It will count the "x" elements in the list eg. (city.count("karachi") --> the answer will depend on how many times karachi appears in a list)

In [10]:
city.count("Karachi")

1

### 3. List method extend()
- It will add one or more elements in the list and add each element separately. It means that all of these items of (string,list,tuple) will add separately in the list.
- eg. city.extend(["Peshawar","Sukkur"]) --> it will add peshawar and sukkur separately in the list.
- eg. city.extend("AB") --> it will add A and B separately in the list.

In [11]:
city.extend(['Peshawar','Sukkur'])

In [12]:
city

['Karachi', 'Lahore', 'Multan', 'Islamabad', 'Quetta', 'Peshawar', 'Sukkur']

In [13]:
city.extend(['Hyderabad','Muree','Naran'])
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran']

In [14]:
city.extend("AB")
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'A',
 'B']

### 4. List method index()

- It will give the position of the first occurance of any given item.
- You can also give it a start and end range. eg. city.index("Muree",8) --> it will find position of the given item after the 8 position because we pass the starting position.
- city.index("Muree",start,end)

In [16]:
city.index("Muree")

8

In [17]:
city.append("Muree")

In [19]:
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'A',
 'B',
 'Muree']

In [22]:
city.index("Muree",9)
city.append("Hunza")
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'A',
 'B',
 'Muree',
 'Hunza']

In [23]:
city.index("Muree",9,13)

12

### 5. List method insert()

- It will add element at your given position.
- It takes two arguments.
    - position --> index where you want to insert.
    - item --> the element you want to add.
    - eg. city.insert(10,"Kagan")

In [24]:
city.insert(10,"Kagan")
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'Kagan',
 'A',
 'B',
 'Muree',
 'Hunza']

### 6. List method pop()

- It will remove the last element and return the remove element from the list by default if we do not give any index. --> city.pop()
- It will remove the item from the list of the given index and return the remove element. --> city.pop(11)
- It will give error if we give index out of range from the list. --> city.pop(100) index out of range
- pop() is useful when you want both to remove and use the element.
- pop() â†’ remove by index, returns the removed item.

In [25]:
city.pop()
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'Kagan',
 'A',
 'B',
 'Muree']

In [26]:
city.index("A")

11

In [27]:
city.pop(11)

'A'

In [28]:
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'Kagan',
 'B',
 'Muree']

In [29]:
city.pop(20)

IndexError: pop index out of range

### 7. List method remove

- It will remove the first occurance of any item.
- remove() â†’ remove by value, no return, error if not found.

In [30]:
city.remove("B")

In [31]:
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Muree',
 'Naran',
 'Kagan',
 'Muree']

In [32]:
city.remove("Muree")
city

['Karachi',
 'Lahore',
 'Multan',
 'Islamabad',
 'Quetta',
 'Peshawar',
 'Sukkur',
 'Hyderabad',
 'Naran',
 'Kagan',
 'Muree']

### 8. List method reverse()

- The reverse() method in Python reverses the order of the list in place.
That means it directly changes the list â€” it does not make a new one, and it doesnâ€™t return anything.
- It works in-place (modifies the original list).
- It doesnâ€™t sort; it just flips the list backwards.
- It returns None, so you shouldnâ€™t do x = nums.reverse() (that would make x = None).

In [33]:
city.reverse()

In [34]:
city

['Muree',
 'Kagan',
 'Naran',
 'Hyderabad',
 'Sukkur',
 'Peshawar',
 'Quetta',
 'Islamabad',
 'Multan',
 'Lahore',
 'Karachi']

In [35]:
x = city.reverse()

In [36]:
x

### 9. List method sort()

- The sort() method is used to arrange list elements in ascending (by default) or descending order.
- In-place: It changes the original list.
- Works on numbers and strings (alphabetical order for strings).
- It canâ€™t sort lists with mixed types (like numbers + strings).

#### Ascending order example (by default)

In [37]:
city.sort()

In [38]:
city

['Hyderabad',
 'Islamabad',
 'Kagan',
 'Karachi',
 'Lahore',
 'Multan',
 'Muree',
 'Naran',
 'Peshawar',
 'Quetta',
 'Sukkur']

#### Descending order example

In [39]:
city.sort(reverse=True)

In [40]:
city

['Sukkur',
 'Quetta',
 'Peshawar',
 'Naran',
 'Muree',
 'Multan',
 'Lahore',
 'Karachi',
 'Kagan',
 'Islamabad',
 'Hyderabad']

### 10. List method copy()

- The copy() method makes a shallow copy of a list.
That means it creates a new list with the same elements, but at a different memory location.

In [41]:
city1 = city.copy()
city, city1

(['Sukkur',
  'Quetta',
  'Peshawar',
  'Naran',
  'Muree',
  'Multan',
  'Lahore',
  'Karachi',
  'Kagan',
  'Islamabad',
  'Hyderabad'],
 ['Sukkur',
  'Quetta',
  'Peshawar',
  'Naran',
  'Muree',
  'Multan',
  'Lahore',
  'Karachi',
  'Kagan',
  'Islamabad',
  'Hyderabad'])

#### Shalow Copy

- If we add item into city1 it will not add into city because both list item are located in a different memory location.

In [43]:
city1.append("Balochistan")

city, city1

(['Sukkur',
  'Quetta',
  'Peshawar',
  'Naran',
  'Muree',
  'Multan',
  'Lahore',
  'Karachi',
  'Kagan',
  'Islamabad',
  'Hyderabad'],
 ['Sukkur',
  'Quetta',
  'Peshawar',
  'Naran',
  'Muree',
  'Multan',
  'Lahore',
  'Karachi',
  'Kagan',
  'Islamabad',
  'Hyderabad',
  'Balochistan',
  'Balochistan'])

#### Shalow copy with nested list

- If we make a list and add nested list into a list and copy that list, so that mean's we have 2 list with the same items. But if we change nested list any of them the changes will occur in both list.
- This happens beacuase of nested list items of both list sharing the same memory location.

In [45]:
a = [1,2,3,4,[5,6]]
b = a.copy()
b[4][1] = 7
a, b

([1, 2, 3, 4, [5, 7]], [1, 2, 3, 4, [5, 7]])

#### Deep copy

- In deep copy there is both simple and nested list there is no change in list if we change in any list beacuase in deep copy both list item are stored in a different memory location.

In [46]:
import copy

a = [1,2,3,4,5]
b = copy.deepcopy(a)

a,b

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [47]:
a = [1,2,3,4,5,[6,7]]
b = copy.deepcopy(a)
b[5][1] = 8
a, b

([1, 2, 3, 4, 5, [6, 7]], [1, 2, 3, 4, 5, [6, 8]])